* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2235;
    color: white;
}

.title {
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: bold;

}

.title_2 {
    font-size: 1em;
    margin-bottom: 2em;
}

.form {
    border-top: 3px solid #ff4a57;
    border-bottom: 3px solid #ff4a57;
}

.form-details {
    display: block;
    margin: 1em 0;
}

input[type="text"], input[type="email"], input[type="number"] {
    margin: 0 auto;
    display: block;
    padding: 0.5em;
}

.button {
    margin: 1em 0;
    text-transform: uppercase;
    padding: 1em 2em;
    font-weight: bold;
    background-color: #ff4a57;
    border: none;
    border-radius: 0.5em;

}

.button:hover, .user-button-del:hover, .user-button-edit:hover, .user-button-active:hover {
    color:#ff4a57;
    background-color: white;
}

.section-users {
    background-color: #323c67;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed white;
}

.section-users:hover {
    background-color:  #43496f;;
}


.user-details {
    display: flex;
    list-style-type: none;
    width: 60%;
}

.user-button-del, .user-button-edit, .user-button-active {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff4a57;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-right: 1em;
}

.user-button-edit {
    background-color: #1f2235;
}

.user-button-active {
    background-color: greenyellow;
    color: black;
}

.users-name, .users-email, .users-phone {
    width: 40%;
}