* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2235;
    color: white;
}

.title {
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: bold;

}

.title_2 {
    font-size: 1em;
    margin-bottom: 2em;
}

.form {
    border-top: 3px solid #ff4a57;
}

.form-details {
    display: block;
    margin: 1em 0;
}

input[type="text"], input[type="email"], input[type="number"] {
    margin: 0 auto;
    display: block;
    padding: 0.5em;
}

input[type="number"] {
    margin-bottom: 3em;
}

.button {
    margin: 1em 0.5em;
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: #ff4a57;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.edit {
    background-color:#1f2235;
}

.close {
    background-color: #323c67;
}

.button:hover  {
    color: #ff4a57;
    background-color: white;
    transition: all 0.5s;
}

.titles {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1em;
    background-color:rgb(81, 73, 73);
    font-weight: bold;
}

.section-users {
    background-color: #323c67;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px dashed white;
}

.section-users:hover {
    background-color:  #43496f;;
}

.user-details {
    display: flex;
    list-style-type: none;
    width: 60%;
}

.users-id {
    width: 10%;
}
.users-name {
    width: 30%;
}

.users-email, .users-phone {
    width: 30%;
}

.popup {
    border: 3px solid #ff4a57;
    color: white;
    padding: 1em 0;
    width: 400px;
    background:  #1f2235;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}

.popup-open {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.question {
    font-weight: bold;
    padding: 0 2em 1em 2em;
}