<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title>Evidence uživatelů</title>

</head>

<body>
    <div class="center">
        <h1 class="title">Databáze uživatelů</h1>
        <h2 class="title_2">project by mtruhlar.cz</h2>

        <form class="form" action="/add" method="post">
                <label class="form-details">Jméno a příjmení:</label>
                <input type="text" name="name" placeholder="Zadejte jméno a příjmení" required="1">
                <label class="form-details">E-mail:</label>
                <input type="email" name="email" placeholder="Zadejte e-mail" required="1">
                <label class="form-details">Mobil:</label>
                <input type="number" name="phone" placeholder="Zadejte číslo" required="1">
                <button class="button" type="submit">Přidat</button>
        </form>

        <div class="titles">
            <ul class="user-details">
                <li class="users-id">ID</li>
                <li class="users-name">Jméno a příjmení </li>
                <li class="users-email">E-mail</li>
                <li class="users-phone">Mobil</li>     
            </ul>
        </div>
        {% for Users_data in users %}
        <div class="section-users">
            <ul class="user-details"> 
                <li class="users-id">{{ Users_data.id }}</li>
                <li class="users-name">{{ Users_data.name }} </li>
                <li class="users-email">{{ Users_data.email }}</li>
                <li class="users-phone">{{ Users_data.phone }}</li>     
            </ul>

            <a href="/delete/{{ Users_data.id }}"  onclick="return confirm('Chcete uživatele {{ Users_data.name }} smazat?')"><button class="button">Smazat</button></a>
            
            <button class="button edit" onclick="openPopup({{ Users_data.id }})">Editovat</button>
            <div class="popup" id="popup-{{ Users_data.id }}" >
                <p class="question">ID uživatele je: {{ Users_data.id }}</p>

                <form class="form" action="/update" method="post">
                    <label class="form-details">Jméno a příjmení:</label>
                    <input type="hidden"  name="id" value="{{Users_data.id}}">
                    <input type="text" name="name" value="{{ Users_data.name }}" required="1">
                    <label class="form-details">E-mail:</label>
                    <input type="email" name="email" value="{{ Users_data.email }}" required="1">
                    <label class="form-details">Mobil:</label>
                    <input type="number" name="phone" value="{{ Users_data.phone }}" required="1">
                    <a href="/update/{{ Users_data.id }}"><button class="button" type="submit">Editovat</button></a>
                    <button class="button close" onclick="closePopup({{ Users_data.id }})">Zrušit</button>
                </form>

                
            </div>
            
        </div>
        {% endfor %}

        <script>
            function openPopup(id) {
                const popup = document.getElementById("popup-"+ id)
                popup.classList.add("popup-open")
            }
    
            function closePopup(id) {
                const popup = document.getElementById("popup-"+ id)
                popup.classList.remove("popup-open")
            }
        </script>

    </div>



</body>

</html>